<div class="row">
    <h1>
        Educacion
    </h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <H1>estudio 1</H1>
                <p>
                    COMPLETAR!
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <H1>estudio 2</H1>
                <p>
                    COMPLETAR!
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <H1>estudio 3</H1>
                <p>
                    COMPLETAR!
                </p>
            </li>
        </ul>
    </div>
    </div>