<div class="row">
    <h1>
        Poyectos realizados
    </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto1">
            <h2>
                proyecto 1
            </h2>
            <p>
                descripcion
            </p>
        <div class="col-sm-12 col-md-3 offset-md-1" offset-lg-1 proyecto1 >
            <img src="../../assets/APLogo.png" class="fluid" img-proyecto1 alt="">
        </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto2">
            <h2>
                Proyecto 2
            </h2>
            <p>
                descripcion
            </p>
            <div class="col-sm-12 col-md-3 offset-md-1" offset-lg-1 proyecto2 >
                <img src="../../assets/APLogo.png" class="fluid" img-proyecto2 alt="">
            </div>
        </div>
    </div>
</div>