<div class="row">
    <h1>Hard & Soft skills</h1>

    <circle-progress
        [percent]="30"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"  
        [showImage]="true"     
        [imageWidth]="75"
        [imageHeight]="75"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>

<circle-progress
        [percent]="30"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"  
        [showImage]="true"     
        [imageWidth]="75"
        [imageHeight]="75"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>

<circle-progress
[percent]="30"
[radius]="100"
[imageSrc]="'../assets/js.png'"  
[showImage]="true"     
[imageWidth]="75"
[imageHeight]="75"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

<circle-progress
[percent]="30"
[radius]="100"
[imageSrc]="'../assets/github.png'"  
[showImage]="true"     
[imageWidth]="75"
[imageHeight]="75"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

<circle-progress
[percent]="30"
[radius]="100"
[imageSrc]="'../assets/eng.png'"  
[showImage]="true"     
[imageWidth]="75"
[imageHeight]="75"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

<circle-progress
[percent]="30"
[radius]="100"
[imageSrc]="'../assets/grupal.png'"  
[showImage]="true"     
[imageWidth]="75"
[imageHeight]="75"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>