<div class="row">
<h1>
    Experiencia Laboral
</h1>
<div class="col-lg-11">
    <ul>
        <li>
            <H1>TRABAJO 1</H1>
            <p>
                COMPLETAR!
            </p>
        </li>
    </ul>
    <ul>
        <li>
            <H1>TRABAJO 2</H1>
            <p>
                COMPLETAR!
            </p>
        </li>
    </ul>
    <ul>
        <li>
            <H1>TRABAJO 3</H1>
            <p>
                COMPLETAR!
            </p>
        </li>
    </ul>
</div>
</div>